APP_PORT=3000
APP_SECRET=your_secret_key

APP_DATABASE_TYPE=MYSQL
APP_DATABASE_HOST=localhost
APP_DATABASE_PORT=3306
APP_DATABASE_NAME=passport_db
APP_DATABASE_USER=root
APP_DATABASE_PASSWORD=your_password
APP_DATABASE_TABLE_PREFIX=passport_

APP_VERIFIER_API_URL=https://info.miaomc.cn/api/v1
APP_VERIFIER_API_KEY=your_api_key
APP_VERIFIER_API_SECRET=your_api_secret
APP_VERIFIER_SALT=abc123